
$app-nav-bar-height: 54px;
$app-content-height: calc(100% - 54px);
$secondary-toolbar-height: 54px;
$secondary-page-content-height: calc(100% - 54px);

$left-side-flex: 5;
$right-side-flex: 4;
$left-side-shadow: 2px 0 20px #878787;

$blue-lighter: #f0f6ff;
$blue-light: #3BD8E6;
$blue-dark: #23aab6;
$blue-darker: #0194d5;
$blue-darkest: #015176;
$blue-icon: #48b1df;
$black: #39222e;
$black-opacity: rgba(57, 34, 46, 0.7);
$black-blue: #18394e;
$orange: #c99065;
$blue: #6699ff;
$red: #e63979;
$green: #01b73f;
$green-light: #82cb73;
$gray: #a4a4a4;
$gray-light: #d1d1d1;
$gray-lighter: #f6f6f6;
$red: #bb000f;
$red-light: #fa6465;
$red-lighter: #e2747d;


